{% extends "BookmarkBundle::Layout/layout.html.twig" %}

{% block title %}Lista de Perfis{% endblock %}

{% block body %}
    <div align="center" style="padding-top: 80px">
        <h2>Bookmarks é um serviço que permite aos usuários cadastrarem os links
            de seus sites favoritos e acessá-los rapidamente. </h2>
    </div>
{% endblock %}
