{% extends "BookmarkBundle::Layout/layout.html.twig" %}

{% block title %}Cadastro de usuarios{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <h3>Cadastro de Usuário</h3>
        <form method="post" action="">

            <div class="form-group">
                <label for="noUsuario">Nome: </label>
                <input type="text" class="form-control" id="noUsuario" name="noUsuario" />
            </div>

            <div class="form-group">
                <label for="email">E-mail: </label>
                <input type="text" class="form-control" id="email" name="email" />
            </div>

            <div class="form-group">
                <label for="perfil">Perfil: </label>
                <select class="form-control" id="perfil" name="perfil">
                    <option value="0">Selecione...</option>
                    {% for perfil in perfis %}
                        <option value="{{ perfil.id }}">{{ perfil.noPerfil }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="login">Nome de usuário: </label>
                <input type="text" class="form-control" id="login" name="login" />
            </div>

            <div class="form-group">
                <label for="senha">Senha: </label>
                <input type="password" class="form-control" id="senha" name="senha" />
            </div>

            <div class="form-group">
                <label for="confirmSenha">Confirmar senha: </label>
                <input type="password" class="form-control" id="confirmSenha" name="confirmSenha" />
            </div>


            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Salvar" />
                <input type="button" class="btn btn-default" value="Voltar" onclick="javascript:history.go(-1)" />
            </div>
        </form>
    </div>
{% endblock %}
